<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring OAuth Client №2</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
		<a class="navbar-brand" th:href="@{/foos/}">Spring OAuth Client №2</a>
	</nav>

	<div class="container">
		<label>Welcome ! </label> <br /> <a th:href="@{/foos/}"
			class="btn btn-primary">Login</a>
	</div>
</body>
</html>